@import '../../design-tokens/variables.scss';
@import '../../design-tokens/animations.scss';

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 50;
  &__text {
    position: absolute;
    left: 15vw;
    top: 30%;
    width: 40%;
    z-index: 60;
    h1 {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 20px;
      animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;
      span {
        display: block;
        font-size: 4rem;
        line-height: 4rem;
      }
    }
    h2 {
      font-family: $font-chronicle;
      display: block;
      width: 70%;
      animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
  &__img {
    position: absolute;
    right: 6vw;
    top: 0;
    z-index: 55;
    animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    img {
      width: 100vh;
      height: auto;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 100vh;
    &__text {
      position: static;
      width: 100%;
      padding-left: 6vw;
      padding-top: 16vh;
      h1 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 10px;
        span {
          display: block;
          font-size: 2.5rem;
          line-height: 2.5rem;
        }
      }
      h2 {
        font-size: 1rem;
      }
    }
    &__img {
      position: static;
      margin: 0 auto;
      width: 90vw;

      img {
        height: auto;
      }
    }
  }
}
